// Fonts
$primary-font: 'futura_bdcn_btbold';
// $primary-font: 'Roboto Condensed', sans-serif;
// $secondary-font: 'Roboto', sans-serif;
$secondary-font: 'futurabook';

// Colors
$primary-color: #ffffff;
$primary-light: #131313; // Header
$black: #ffffff;
$white: #000000; // Main Body Background & Important Text
$gray: #aa0000;
$border-color: #0486ff; // I don't see this
$body-color: $white;
$text-color: #fdb954;
$text-light: #04ff26; // I don't see this


// Footer
$footer-bg : #000000;