// Fonts
$primary-font: 'futura_bdcn_btbold';
// $primary-font: 'Roboto Condensed', sans-serif;
// $secondary-font: 'Roboto', sans-serif;
$secondary-font: 'futurabook';

// Colors
$primary-color: #ffffff;
$primary-light: rgba(41, 40, 40, 0.644);
$black: #000;
$white: rgba(0, 0, 0, 0.644);
$gray: #bcbcbc;
$border-color: #b6c1ff;
$body-color: $white;
$text-color: #1aff04;
$text-light: #ff04f2;


// Footer
$footer-bg : #023f63;